@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
}

body {
  @apply m-0 p-0 box-border min-h-full;
  background-color: #1b1e23;
  color: #dcdcdc;
}

#root {
  height: 100vh;
}

h3 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}
main {
  padding-bottom: 3rem;
}

.overflow-x-auto::-webkit-scrollbar {
  height: 6px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: #2d3748;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 3px;
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background-color: #718096;
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d2d2d;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2563eb;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #1d4ed8;
}
