@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
}

body {
  @apply m-0 p-0 box-border min-h-full;
  background-color: #1b1e23;
  color: #dcdcdc;
}

#root {
  height: 100vh;
}

h3 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

.disk-component {
  background-color: #2a2d34;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 12px;
  min-width: max-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}

.disk-details {
  flex: 1;
}

/* Progress Bar Styling */
progress {
  width: 100%;
  appearance: none;
  height: 6px;
}

progress::-webkit-progress-bar {
  background-color: #404552;
  border-radius: 6px;
}

progress::-webkit-progress-value {
  background-color: #5d8cff;
  border-radius: 6px;
}

/* Search Bar Styling */
.search-container {
  background-color: #2a2d34;
  border-radius: 12px;
  padding: 8px;
  width: 40em;
  min-width: max-content;
  margin-top: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.advance {
  background-color: #3a3e47;
  border-radius: 6px;
  margin: 2px;
  padding: 5px 15px 5px 15px;
  margin-left: 10px;
}
.search-container input {
  background-color: #3a3e47;
  border: none;
  color: #dcdcdc;
  padding: 8px;
  border-radius: 6px;
  outline: none;
  flex: 1;
  margin-left: 10px;
}
